################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventManagementSystem/.vs/EventManagementSystem/v15
