@model EventManagementSystem.Web.Models.Log4NetLogModel



<div class="row">
    <div class="col-lg-12">
        <h4>
            Loglar
        </h4>
        <header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16 pl-0" style="width: 100%; padding-top: 0px !important;">
            <div class="flexbox align-items-left" style="width: 100%;">
                <div class="input-group">
                    <input type="text" id="input_search" class="form-control" placeholder="Açıklama" aria-describedby="basic-addon1">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
            <div class="flexbox align-items-right">
                <div class="input-group">
                    <input id="dateFilter" type="text" class="form-control" placeholder="Tarih" />
                </div>
            </div>
        </header>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Tarih
                                </th>
                                <th>
                                    Açıklama
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <link href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <script data-provide="sweetalert">

        $('#dateFilter').datepicker({
            format: 'dd.mm.yyyy'
        });

        var postUrl = "@Url.Action("Log4NetLogLog4NetLogListQuery", "Log")";
        $("#dateFilter").change(function () {
            selectedFilterDate = $(this).val();

            changePusrUrl(selectedFilterDate);
        });
        function changePusrUrl(selectedFilterDate) {
            postUrl = "/Log/Log4NetLogLog4NetLogListQuery?date=" + selectedFilterDate + "";

            table.ajax.url(postUrl).load();
        }
        var table = null;
        $(function () {
            table = $('.table').DataTable({
                "processing": true,
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw" style="border-style:none;border-width:0px;"></i><span class="sr-only">Loading...</span>'
                },
                "serverSide": true,
                "searching": true,
                "dom": 't,p,l,r,i,B', "responsive": true, "bAutoWidth": false, "buttons": ['excel', 'pdf',

                ],
                "ajax": {
                    url: postUrl,
                    type: 'POST'
                },
                "columns": [
                    {
                        "data": "CreationDate",
                        "render": function (data) {
                            return moment(data).format('DD.MM.YYYY');
                        }
                    },
                    { "data": "Message" }
                ]
            });
            $('#input_search').keyup(function () {
                table.search($(this).val()).draw();
            });
        });



        function ReloadTable() {
            table.draw();
        }

    </script>
}
