<div class="row">
    <div class="col-md-6">
        <p class="text-center text-md-left">© @(DateTime.Now.Year) | Software Duty Limited | <a href="https://www.softwareduty.com" target="_blank">Software Duty Limited</a>. All Rights Reserved.</p>
    </div>
</div>