<div class="row">
    <div class="col-md-6">
        <p class="text-center text-md-left">© 2018 | Apphic Limited | <a href="http://www.apphic.com">Apphic Limited</a>. Tüm Hakları Saklıdır.</p>
    </div>
</div>
