@model EventManagementSystem.Web.Models.HomeModel

@using EventManagementSystem.Web.Helpers
@{

    bool isAllowedAuthorization = AuthorizeUserCheck.HasAccess("Authorization", "AuthorizationList");
    
   
}
<header class="sidebar-header" style="background-color: #fa9c28;">
    <a class="logo-icon" href="/"><img src="/assets/img/logo_EventManagementSystem.png" alt="logo icon"></a>

    <span class="logo">
        @*<a href="/">@Model.SiteTitle</a>*@
        <a href="/"><img src="~/Assets/img/logo_right_white.png" style="width:95%;" /></a>

    </span>

    @*<span class="logo">
            <a href="/"><img src="/assets/img/ytb-text.png" alt="logo"></a>
        </span>*@
    <span class="sidebar-toggle-fold"></span>
</header>
<nav class="sidebar-navigation">
    <ul class="menu">
        <li class="menu-category">.... YÖNETİMİ</li>
        
        <li class="menu-item">
            <a class="menu-link" href="#">
                <span class="icon fa fa-balance-scale"></span>
                <span class="title">...ler</span>
            </a>
        </li>
        
        @*Sistem Yönetimi - Yöneticilerin Kullanıcıların Görebileceği*@
        @if (isAllowedAuthorization)
        {
            <li class="leftmenu-management-bgcolor">
                <a class="menu-link" href="#">
                    <span class="icon fa fa-gears leftmenu-management-fontcolor"></span>
                    <span class="title leftmenu-management-fontcolor">Sistem Yönetimi</span>
                    <span class="arrow"></span>
                </a>

                <ul class="menu-submenu">
                    @if (isAllowedAuthorization)
                    {
                        <li class="menu-item">
                            <a class="menu-link" href="@Url.Action("Settings", "Account")">
                                <span class="dot leftmenu-management-dotcolor"></span>
                                <span class="title leftmenu-management-fontcolor">Giriş Sayfası Ayarları</span>
                            </a>
                        </li>
                    }
                    @if (isAllowedAuthorization)
                    {
                        <li class="menu-item">
                            <a class="menu-link" href="@Url.Action("AuthorizationList", "Authorization")">
                                <span class="dot leftmenu-management-dotcolor"></span>
                                <span class="title leftmenu-management-fontcolor">Kullanıcı Yetki Grupları</span>
                            </a>
                        </li>
                    }
                    @if (isAllowedAuthorization)
                    {
                        <li class="menu-item">
                            <a class="menu-link" href="@Url.Action("UserList", "Authorization")">
                                <span class="dot leftmenu-management-dotcolor"></span>
                                <span class="title leftmenu-management-fontcolor">Kullanıcılar</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

    </ul>
</nav>
