<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @{
        Html.RenderAction("SiteTitle", "Home");
    }
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/logo_EventManagementSystem.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i|Dosis:300,500" rel="stylesheet">
    @*<link href="~/Assets/plugins/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Assets/plugins/Kendo/styles/kendo.metro.min.css" rel="stylesheet" />*@
    <link href="/assets/css/core.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link href="/assets/plugins/skycons/skycons.css" rel="stylesheet" />
    <link href="/assets/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="/assets/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="/assets/vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="/assets/vendor/swiper/css/swiper.min.css" rel="stylesheet" />
    <link href="/assets/vendor/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/responsive.bootstrap.min.css" />



    @RenderSection("Styles", false)
    <style>
        .modal-footer {
            display: none !important;
        }

        .modal-footer2 {
            display: flex !important;
        }
    </style>
</head>
<body class="@{ Html.RenderAction("SidebarPozition", "Home");}">
    <div class="preloader">
        <div class="spinner-dots">
            <span class="dot1"></span>
            <span class="dot2"></span>
            <span class="dot3"></span>
        </div>
    </div>
    <aside class="sidebar sidebar-expand-sm">
        @{
            Html.RenderAction("Sidebar", "Home");
        }
    </aside>
    <header class="topbar">
        @{
            Html.RenderAction("Header", "Home");
        }
    </header>
    <main class="main-container">
        <div class="main-content">
            @RenderBody()
        </div>
        <footer class="site-footer">
            @{
                Html.RenderAction("Footer", "Home");
            }
        </footer>
    </main>

    <script src="/assets/js/core.min.js" data-provide="chartjs"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendor/moment/moment-with-locales.min.js"></script>
    <script src="/assets/vendor/sweetalert2/sweetalert2.min.js"></script>
    <script src="/assets/vendor/swiper/js/swiper.min.js"></script>
    <script src="/assets/vendor/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/Assets/js/script/partials/trial.js"></script>
    @*<script src="~/Assets/plugins/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Assets/plugins/Kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/Assets/plugins/Kendo/js/messages/kendo.messages.tr-TR.min.js"></script>
    <script src="~/Assets/plugins/Kendo/js/cultures/kendo.culture.tr-TR.min.js"></script>*@

    <script src="/assets/js/dataTables.buttons.min.js"></script>
    @*<script src="/assets/js/jszip.min.js"></script>
    <script src="/assets/js/pdfmake.min.js"></script>
    <script src="/assets/js/vfs_fonts.js"></script>*@
    <script src="/assets/js/buttons.html5.min.js"></script>
    <script src="/assets/js/dataTables.responsive.min.js"></script>

    @RenderSection("Scripts", false)
    <script>
        $(function () {
            $('div[data-url]').each(function (i, item) {
                $(item).load($(item).data('url'));
            });
        })
    </script>

</body>
</html>



<script>

    $(document).ready(function () {
        $(".sidebar-toggle-fold").click(function () {
            var classBody = document.body.className;
            var data = false;
            if (classBody.indexOf("sidebar-folded") >= 0 ) {
                data=  true;
            }
            $.ajax(
                {
                    url: '@Url.Action("ChangeSidebarPozition","Home")' +"?Pozition="+ data,
                    method: 'GET',
                    success: function (result) {
                    }
                });
        });
    });
</script>